html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(165, 148, 197);
  
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container {
    margin:20px;
    width: 80%;
    background-color: rgb(224, 223, 222);
    padding: 20px;
    border-radius: 10px; 
    flex-shrink: 0;     
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
.taskListContainer{
    width: 83%;
    overflow-y: auto;
    flex-grow: 1;
    padding: 0 20px;
}
.input-container {
    display: flex;
    justify-content: space-between;
}

#taskInput {
    width: 85%;
    padding: 10px;
    border: 1px solid #0e0b0b;
    border-radius: 5px;
}

#addButton {
    width: 10%;
    background-color: rgb(165, 148, 197);
    color: rgba(255, 255, 255, 0.856);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#taskList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#taskList li {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-wrap: break-word; /* long words will break correctly*/
    word-wrap: break-word;
    white-space: normal;
}
.task-butons{
    display: flex;
    gap: 10px;
    flex-shrink: 0;
}
.task-text{
    flex: 1; /* allows text container to grow*/
    margin-right: 10px;
    word-break: break-word; /* ensure words breaking correctly*/
}
.editButton, .deleteButton {
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    
}

.editButton::before {
    content: 'Edit';
    background-color: rgb(57, 139, 57);
    padding: 10px;
    border-radius: 5px;
}

.deleteButton::before {
    content: 'Delete';
    background-color: rgb(173, 55, 55);
    padding: 10px;
    border-radius: 5px;
}
.toastContainer{
    position: fixed;
    top: 20px;
    left: 25px;
    
}
.toast{
    display: none;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}
.toast.success{
    background-color: green;
}
.toast.Information{
    background-color:blue;
}
.toast.warning{
    background-color: yellow;
    color: black;
}
.toast.error{
    background-color: rgb(173, 55, 55);
}