html,body {
    font-family: Arial, sans-serif;
    background-color: rgb(165, 148, 197);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    background-color: rgb(224, 223, 222);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

#taskInput {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addButton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#taskList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#taskList li {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editButton, .deleteButton {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 10px;
}

.editButton::before {
    content: 'Edit';
}

.deleteButton::before {
    content: 'Delete';
}
